<div class="sidebar" [ngClass]="{ 'sidebar--open': sidebarOpen$ | async }">
  <header class="sidebar__header">
    <h2>Menu</h2>
  </header>
  <ul>
    <li>
      <a [routerLink]="['']">  
        Home</a>
      </li>
    <li>
        <a
        [routerLink]="['/machine-statuses']"
        routerLinkActive="router-link-active"
        >Machines</a>
      
    <li>Employees</li>
    <li>
      <a
        [routerLink]="['/inventory']"
        routerLinkActive="router-link-active"
        >Inventory</a></li>
  </ul>
</div>
